.navbar {
  background: #004953;
  display: flex;
  font-family: "Trirong", serif;
  height: 44px;
}

.navbar>* {
  color: whitesmoke;
  padding: 12px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 720px) {
  .navbar>* {
    padding: 12px 20px;
  }
}

.navbar>*:hover {
  background-color: #001f23;
}

.navbar .city-select {
  background: #004953;
  margin-left: auto;
  padding: 10px;
}
