.data {
  overflow-x: auto;
}

.data table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px auto;
}

.data th,
.data td {
  border: 1px solid black;
  padding: 2px 5px;
}

.station-page {
  background-color: #eee;
  box-shadow: 0 0 10px #777;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 15px;
}

.station-page .back-link {
  margin-top: 10px;
}

.station-page .station {
  margin-top: 20px;
}

.station-page .station .options>div {
  display: inline-block;
  margin-right: 30px;
  margin-top: 10px;
}

.station-page .station .options .sorting label {
  margin-right: 10px;
}

.station-page .station .options .sorting input {
  margin-right: 5px;
}

.history {
  overflow-x: auto;
}

.history table {
  border: 1px solid black;
  border-collapse: collapse;
  margin: 20px 0;
}

.history th,
.history td {
  border: 1px solid black;
  padding: 2px 15px;
}
